--index-url https://download.pytorch.org/whl/cu124
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
xformers
numpy==1.26.4
transformers==4.46.0
diffusers==0.31.0
accelerate==1.1.1
safetensors==0.4.5
opencv-python==4.10.0.84
gradio==4.44.0
fastapi==0.115.6
uvicorn==0.32.1
pillow==10.4.0
requests==2.32.3
tqdm==4.67.1
scipy==1.14.1
matplotlib==3.9.4
omegaconf==2.3.0
tensorboard==2.18.0
psutil==6.1.0
rembg
supervision
ifnude
hydra-core
segment-anything
pycocotools
pytorch-lightning
basicsr
